@media (max-width:1024px){
    .menu-bar{
        display: block;
        padding-top: 5px;
        margin-left: 10px;
        box-sizing: border-box;
        position: fixed;
        left: 0;
    }
    .list-menu-pc{
        display: none;
    }
    .header-up{
        padding-left: 20px;
        box-sizing: border-box;
        font-size: 12px;
        text-align: center;
        animation: none;
    }
    .header-down{
        margin-top: 10px;
    }
    .logo{
        width: 160px;
        height: 50px;
    }
    .logo img{
        width: 150px;
        height: 40px;
    }

    .bg-sales{
        width: 100%;
        height: 340px;
    }
    .bg-sales img{
        width: 100%;
        max-width: 100%;
        height: 300px;
        z-index: 1;
    }
    .menu-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 910px;
        box-sizing: border-box;
    }
    .picture{
        width: 100%;
        height: 234px;
        text-align: center;
    }
    .picture img{
        width: 340px;
        height: 233px;
    }
    .list-item{
        width: 164px;
        height: 230px;
    }
    .list-item img{
        width: 163px;
        height: 163px;
    }
    .list-item-info{
        width: 163px;
    }
    .list-item-info a{
        font-weight: 600;
    }
    .selection{
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        opacity: 1;
    }
    .selection img{
        width: 343px;
        height: 343px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .info-right{
        width: 100%;
    }
    .info-right img{
        width: 343px;
        height: 123px;
        margin-left: 18px;
        box-sizing: border-box;
        opacity: 1;
    }
    .cloudtea{
        width: 223px;
        height: 255px;
        margin: 0 auto;
        box-sizing: border-box;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    .selection button{
        width: 343px;
        height: 40px;
        margin-left: 16px;
        box-sizing: border-box;
    }
    .form-member{
        display: none;
    }
    .list-menu-mobile.show-list-menu-mobile{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;

    }
    .paper-content{
        width: 100%;
        max-width: 100%;
        height: 3542px;
        text-align: center;
    }
    .wrapper-content{
        width: 100%;
        max-width: 100%;
        height: 1064px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .paper-content h2{
        width: 345px;
        height: 33px;
    }
    .paper-content h3{
        width: 105px;
        height: 33px;
        margin: 20px 10px;
    }
    .form-content{
        width: 345px;
        height: 362px;
        display: flex;
        flex-direction: column;
    }
    .form-content img{
        width: 100%;
        max-width: 100%;
        height: 165px;
    }
    .day-content{
        width: 100%;
        max-width: 100%;
        height: 30px;
    }
    .footer{
        width: 100%;
        max-width: 100%;
        height: 904px;
    }
    .footer-service{
        width: 100%;
        max-width: 100%;
        height: 603px;
        display: flex;
        flex-direction: column;
    }
    .line{
        width: 100%;
        max-width: 100%;
        height: 2px;
    }
    .footer-info{
        width: 100%;
        max-width: 100%;
        height: 200px;
        font-size: 14px
    }

}
@media (min-width:700px) and (max-width:950px){
    .menu-item{
        width: 740px;
        height: 1746px;
    }
    .picture{
        width: 715px;
        height: 465px;
    }
    .picture img{
        width: 710px;
        height: 460px;
    }
    .list-item{
        width: 345px;
        height: 345px;
        margin: 30px 5px;
    }
    .list-item img{
        width: 340px;
        height: 340px;
    }
    .list-item-info{
        width: 340px;
        height: 57px;
    }
    .selection{
        width: 100%;
        max-width: 100%;
        height: 530px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .selection img{
        width: 362px;
        height: 362px;
    }
    .info-right img{
        width: 362px;
        height: 130px;
        margin:  0 auto;
    }
    .info-right{
        width: 362px;
        height: 428px;
        margin:  0 auto;
    }
    .footer-service{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-info{
        width: 740px;
        height: 200px;
        padding: 0px auto;
    }
}
@media (min-width:500px) and (max-width:600px){
    .menu-item{
        width: 524px;
        height: 1321px;
    }
    .picture{
        width: 510px;
        height: 332px;
    }
    .picture img{
        width: 508px;
        height: 330px;
    }
    .list-item{
        width: 246px;
        height: 304px;
        margin: 16px 0px;
    }
    .list-item img{
        width: 246px;
        height: 246px;
    }
    .list-item-info{
        width: 246px;
        height: 57px;
    }
    .selection{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        height: 1074px;
    }
    .selection img{
        width: 508px;
        height: 508px;
    }
    .info-right{
        margin: 0 auto;
    }
    .info-right img{
        width: 508px;
        height: 182px;
    }
    .info-right button{
        width: 508px;
        height: 40px;
    }
   
}
@media (max-width:300px){
    .menu-item{
        width: 264px;
        height: 827px;
    }
    .picture{
        width: 250px;
        height: 165px;
    }
    .picture img{
        width: 248px;
        height: 161px;
    }
    .list-item{
        width: 116px;
        height: 196px;
    }
    .list-item img{
        width: 116px;
        height: 116px;
    }
    .list-item-info{
        width: 116px;
        height: 70px;
    }
    .bg-sales{
        width: 285px;
        height: 245px;
    }
    .bg-sales img{
        width: 280px;
        height: 238px;
    }
    .selection img{
        width: 248px;
        height: 89px;
    }
    .info-right button{
        width: 248px;
        height: 40px;
    }
    .paper-content{
        width: 100%;
        max-width: 100%;
        height: 3443px;
    }
    .paper-content h2{
        width: 100%;
        max-width: 100%;
        height: 33px;
    }

    .wrapper-content{
        width: 280px;
    }
    .day-content{
        width: 280px;
        height: 30px;
    }
    .form-content{
        width: 280px;
        height: 1071px;
        display: flex;
        flex-direction: column;
    }
    .footer{
        width: 100%;
        max-width: 100%;
        height: 978px;
    }
   .column-footer-social{
    width: 100%;
    max-width: 100%;
    height: 150px;
   }
   .social, .title-social{
        width: 280px;
        max-width: 100%;
   }
   .column-footer{
        width: 140px;
        margin: 10px auto;
   }
 
}
